{% extends "admin_templates/base.html" %} {% load static %} {% block title %}Dashboard{% endblock %} {% block page_title %}Dashboard{% endblock %} {% block breadcrumb %}Dashboard{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row my-3">
        <div class="col-4">
            <!-- Schedule Summary -->
            <div class="card shadow-lg">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="ion ion-clipboard mr-1"></i> Schedule Summary ( Daily )
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <ul class="todo-list" data-widget="todo-list">
                        <li>
                            <span class="handle">
                                <i class="fas fa-ellipsis-v"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo3" id="todoCheck3">
                                <label for="todoCheck3"></label>
                            </div>
                            <span class="text">Let theme shine like a star</span>
                        </li>
                        <li>
                            <span class="handle">
                                <i class="fas fa-ellipsis-v"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo4" id="todoCheck4">
                                <label for="todoCheck4"></label>
                            </div>
                            <span class="text">Let theme shine like a star</span>
                        </li>
                        <li>
                            <span class="handle">
                                <i class="fas fa-ellipsis-v"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo5" id="todoCheck5">
                                <label for="todoCheck5"></label>
                            </div>
                            <span class="text">Check your messages and notifications</span>
                        </li>
                        <li>
                            <span class="handle">
                                <i class="fas fa-ellipsis-v"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </span>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="" name="todo6" id="todoCheck6">
                                <label for="todoCheck6"></label>
                            </div>
                            <span class="text">Let theme shine like a star</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-4">
                    <!-- small box -->
                    <div class="card text-center shadow-lg">
                        <div class="card-body">
                            <h2 class="my-2 text-indigo"><b>25,655 $</b></h2>
                            <h5><b>Monthly Income</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <!-- small box -->
                    <div class="card text-center shadow-lg">
                        <div class="card-body">
                            <h2 class="my-2 text-danger"><b>2,076 $</b></h2>
                            <h5><b>Monthly Expense</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <!-- small box -->
                    <div class="card text-center shadow-lg">
                        <div class="card-body">
                            <h2 class="my-2 text-success"><b>1,01,5466 $</b></h2>
                            <h5><b>Net Profit</b></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <!-- small box -->
                    <div class="card text-center shadow-lg">
                        <div class="card-body">
                            <h2 class="my-2 text-primary"><b>279</b></h2>
                            <h5><b>Active Customers</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <!-- small box -->
                    <div class="card text-center shadow-lg">
                        <div class="card-body">
                            <h2 class="my-2 text-teal"><b>23</b></h2>
                            <h5><b>Active Packages</b></h5>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <!-- small box -->
                    <div class="card text-center shadow-lg">
                        <div class="card-body">
                            <h2 class="my-2 text-maroon"><b>4</b></h2>
                            <h5><b>Due Packages</b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="row text-center my-4">
                        <div class="col-6 mb-4">
                            <input type="text" class="knob" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" value="93" data-width="120" data-height="120" data-fgColor="#00c0ef">
                            <div class="knob-label">Project 1 ABC</div>
                        </div>
                        <div class="col-6 mb-4">
                            <input type="text" class="knob" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" value="34" data-width="120" data-height="120" data-fgColor="#00c0ef">
                            <div class="knob-label">Project 2 XYZ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="mb-3">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h4 class="card-title">Draggable Events</h4>
                    </div>
                    <div class="card-body">
                        <!-- the events -->
                        <div id="external-events">
                            <div class="external-event bg-success">Lunch</div>
                            <div class="external-event bg-warning">Go home</div>
                            <div class="external-event bg-info">Do homework</div>
                            <div class="external-event bg-primary">Work on UI design</div>
                            <div class="external-event bg-danger">Sleep tight</div>
                            <div class="checkbox">
                                <label for="drop-remove">
                                    <input type="checkbox" id="drop-remove">
                                    remove after drop
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <div class="card shadow-lg">
                    <div class="card-header">
                        <h3 class="card-title">Create Event</h3>
                    </div>
                    <div class="card-body">
                        <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                            <ul class="fc-color-picker" id="color-chooser">
                                <li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
                                <li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
                                <li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
                                <li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
                                <li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
                            </ul>
                        </div>
                        <!-- /btn-group -->
                        <div class="input-group">
                            <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                            <div class="input-group-append">
                                <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
                            </div>
                            <!-- /btn-group -->
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary shadow-lg">
                <div class="card-body p-0">
                    <!-- THE CALENDAR -->
                    <div id="calendar"></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.row -->
    <div class="row mt-4">
        <div class="col-4">
            <div class="card text-center shadow-lg">
                <div class="card-body">
                    <h3 class="my-4"># of Work Hours until Next Payment</h3>
                    <div class="progress my-4">
                        <div class="progress-bar bg-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center shadow-lg">
                <div class="card-body">
                    <h3 class="my-4">Income V/S Target</h3>
                    <div class="progress my-4">
                        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center shadow-lg">
                <div class="card-body">
                    <h3 class="my-4">Active Customers V/S Target</h3>
                    <div class="progress my-4">
                        <div class="progress-bar bg-secondary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}